# Module

In [2]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../')

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import os
# from scripts.train_config import raw_data_dir

# Config

In [10]:
raw_data_dir = '../logs/'

In [22]:
# #@save
# d2l.DATA_HUB['ml-100k'] = (
#     'http://files.grouplens.org/datasets/movielens/ml-100k.zip',
#     'cd4dcac4241c8a4ad7badc7ca635da8a69dddb83')

#@save
def read_data_ml100k():
#     data_dir = d2l.download_extract('ml-100k')
    names = ['user_id', 'item_id', 'rating', 'timestamp']
#     data = pd.read_csv(os.path.join(raw_data_dir, 'u.data'), '\t', names=names,
#                        engine='python')
#     names = ['user_id','gender','age','occupation','zip']
    data = pd.read_csv(os.path.join(raw_data_dir, 'ratings.dat'),sep='::',header=None,names=names)
    num_users = data.user_id.unique().shape[0]
    num_items = data.item_id.unique().shape[0]
    return data, num_users, num_items

#@save
def split_data_ml100k(data, num_users, num_items, split_mode='random',
                      test_ratio=0.1):
    """Split the dataset in random mode or seq-aware mode."""
    if split_mode == 'seq-aware':
        train_items, test_items, train_list = {}, {}, []
        for line in data.itertuples():
            u, i, rating, time = line[1], line[2], line[3], line[4]
            train_items.setdefault(u, []).append((u, i, rating, time))
            if u not in test_items or test_items[u][-1] < time:
                test_items[u] = (i, rating, time)
        for u in range(1, num_users + 1):
            train_list.extend(sorted(train_items[u], key=lambda k: k[3]))
        test_data = [(key, *value) for key, value in test_items.items()]
        train_data = [item for item in train_list if item not in test_data]
        train_data = pd.DataFrame(train_data)
        test_data = pd.DataFrame(test_data)
    else:
        mask = [
            True if x == 1 else False
            for x in np.random.uniform(0, 1, (len(data))) < 1 - test_ratio]
        neg_mask = [not x for x in mask]
        train_data, test_data = data[mask], data[neg_mask]
    return train_data, test_data
#@save
def load_data_ml100k(data, num_users, num_items, feedback='explicit'):
    users, items, scores = [], [], []
    inter = np.zeros((num_items, num_users)) if feedback == 'explicit' else {}
    for line in data.itertuples():
        user_index, item_index = int(line[1] - 1), int(line[2] - 1)
        score = int(line[3]) if feedback == 'explicit' else 1
        users.append(user_index)
        items.append(item_index)
        scores.append(score)
        if feedback == 'implicit':
            inter.setdefault(user_index, []).append(item_index)
        else:
            inter[item_index, user_index] = score
    return users, items, scores, inter

In [27]:
split_mode='seq-aware'
feedback='explicit'
test_ratio=0.1
# batch_size=256
    

data, num_users, num_items = read_data_ml100k()
train_data, test_data = split_data_ml100k(data, num_users, num_items,
                                          split_mode, test_ratio)

train_u, train_i, train_r, _ = load_data_ml100k(train_data, num_users,
                                                num_items, feedback)
test_u, test_i, test_r, _ = load_data_ml100k(test_data, num_users,
                                             num_items, feedback)

In [32]:
num_users

6040

In [33]:
num_items

3706

IndexError: index 3734 is out of bounds for axis 0 with size 3706

IndexError: index 3797 is out of bounds for axis 0 with size 3706

# Debug data

In [3]:
import pandas as pd
import os
from scripts.train_config import cleaned_data_dir, cleaned_file_name

raw_data_dir = '../data/ml-1m/'

output_dir = '../data/debug'

raw_data_sep = b"::"

In [4]:
unames = ['user_id','gender','age','occupation','zip']
user = pd.read_csv(os.path.join(raw_data_dir, 'users.dat'),sep='::',header=None,names=unames)
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv(os.path.join(raw_data_dir, 'ratings.dat'),sep='::',header=None,names=rnames)

/Users/mac/opt/miniconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [5]:
user.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [6]:
user[user['user_id'].isin(range(100))]

    user_id gender  age  occupation    zip
0         1      F    1          10  48067
1         2      M   56          16  70072
2         3      M   25          15  55117
3         4      M   45           7  02460
4         5      M   25          20  55455
..      ...    ...  ...         ...    ...
94       95      M   45           0  98201
95       96      F   25          16  78028
96       97      F   35           3  66210
97       98      F   35           7  33547
98       99      F    1          10  19390

[99 rows x 5 columns]

In [7]:
mnames = ['movie_id','title','genres']
movies = pd.read_csv(os.path.join(raw_data_dir, 'movies.dat'),sep='::',header=None,names=mnames, encoding='ISO-8859-1')

/Users/mac/opt/miniconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [8]:
! ls {raw_data_dir}

README      movies.dat  ratings.dat users.dat

In [9]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [24]:
def save_csv(df, file_path):
    df['target'] = df.apply(lambda row: '::'.join([str(ele) for ele in row.values]).replace('"', ""), axis=1)
    df[['target']].to_csv(file_path, index=False, header=None)

In [25]:
user_lst = range(100)

target_user = user[user['user_id'].isin(user_lst)]
target_ratings = ratings[ratings['user_id'].isin(user_lst)]
target_movies = movies[movies['movie_id'].isin(target_ratings['movie_id'].values)]

save_csv(target_user, os.path.join(output_dir, 'users.dat'))
save_csv(target_ratings, os.path.join(output_dir, 'ratings.dat'))
save_csv(target_movies, os.path.join(output_dir, 'movies.dat'))

# target_user.to_csv(os.path.join(output_dir, 'users.dat'), index=False, header=None, sep=raw_data_sep)

<ipython-input-24-711f5dd04adf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df.apply(lambda row: '::'.join([str(ele) for ele in row.values]).replace('"', ""), axis=1)

In [26]:
target_movies.head(12)

,movie_id,title,genres,target
0,1,Toy Story (1995),Animation|Children's|Comedy,1::Toy Story (1995)::Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy,2::Jumanji (1995)::Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,3::Grumpier Old Men (1995)::Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama,4::Waiting to Exhale (1995)::Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy,5::Father of the Bride Part II (1995)::Comedy
5,6,Heat (1995),Action|Crime|Thriller,6::Heat (1995)::Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance,7::Sabrina (1995)::Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's,8::Tom and Huck (1995)::Adventure|Children's
8,9,Sudden Death (1995),Action,9::Sudden Death (1995)::Action
9,10,GoldenEye (1995),Action|Adventure|Thriller,10::GoldenEye (1995)::Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance,"11::American President, The (1995)::Comedy|Dra..."
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,12::Dracula: Dead and Loving It (1995)::Comedy...

<ipython-input-10-28e43aa7cdc1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df.apply(lambda row: '::'.join([str(ele) for ele in row.values]), axis=1)

In [23]:
save_csv(target_movies, os.path.join(output_dir, 'movies.dat'))

<ipython-input-22-711f5dd04adf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df.apply(lambda row: '::'.join([str(ele) for ele in row.values]).replace('"', ""), axis=1)

In [14]:
df = target_movies
df['target'] = df.apply(lambda row: '::'.join([str(ele) for ele in row.values]), axis=1)

<ipython-input-14-3f546aaad952>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df.apply(lambda row: '::'.join([str(ele) for ele in row.values]), axis=1)

In [16]:
df.head(14)

,movie_id,title,genres,target
0,1,Toy Story (1995),Animation|Children's|Comedy,1::Toy Story (1995)::Animation|Children's|Come...
1,2,Jumanji (1995),Adventure|Children's|Fantasy,2::Jumanji (1995)::Adventure|Children's|Fantas...
2,3,Grumpier Old Men (1995),Comedy|Romance,3::Grumpier Old Men (1995)::Comedy|Romance::3:...
3,4,Waiting to Exhale (1995),Comedy|Drama,4::Waiting to Exhale (1995)::Comedy|Drama::4::...
4,5,Father of the Bride Part II (1995),Comedy,5::Father of the Bride Part II (1995)::Comedy:...
5,6,Heat (1995),Action|Crime|Thriller,6::Heat (1995)::Action|Crime|Thriller::6::Heat...
6,7,Sabrina (1995),Comedy|Romance,7::Sabrina (1995)::Comedy|Romance::7::Sabrina ...
7,8,Tom and Huck (1995),Adventure|Children's,8::Tom and Huck (1995)::Adventure|Children's::...
8,9,Sudden Death (1995),Action,9::Sudden Death (1995)::Action::9::Sudden Deat...
9,10,GoldenEye (1995),Action|Adventure|Thriller,10::GoldenEye (1995)::Action|Adventure|Thrille...
10,11,"American President, The (1995)",Comedy|Drama|Romance,"11::American President, The (1995)::Comedy|Dra..."
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,12::Dracula: Dead and Loving It (1995)::Comedy...
12,13,Balto (1995),Animation|Children's,13::Balto (1995)::Animation|Children's::13::Ba...
13,14,Nixon (1995),Drama,14::Nixon (1995)::Drama::14::Nixon (1995)::Drama

In [72]:
'::'.join([str(ele) for ele in target_movies.loc[0].values])

"1::Toy Story (1995)::Animation|Children's|Comedy"

# XGB + LR

In [2]:
# -*- coding: utf-8 -*-
# @Author  : Hippo 
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.datasets import load_svmlight_file
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc, roc_auc_score
# from sklearn.externals import joblib
from sklearn.preprocessing import  OneHotEncoder
import numpy as np
from scipy.sparse import hstack

In [3]:
! ls ../logs

assets                        ncf_train.log
debug                         preprocess.pkl
eval                          saved_model.pb
explicit_train.csv            test.csv
ghouls-goblins-and-ghosts-boo variables

In [6]:
path = '../logs/ghouls-goblins-and-ghosts-boo/train.csv.zip'
data = pd.read_csv(path)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             371 non-null    int64
 1   bone_length    371 non-null    float64
 2   rotting_flesh  371 non-null    float64
 3   hair_length    371 non-null    float64
 4   has_soul       371 non-null    float64
 5   color          371 non-null    object
 6   type           371 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 20.4+ KB

In [8]:
data = data.dropna()
data = data.drop(['id','color'],1)

In [10]:
column = data.columns
X = data[column[:-1]]
Y = data[column[-1]]
X_all, y_all = X,Y
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size = 0.3, random_state = 42)

In [11]:
model = xgb.XGBClassifier(nthread=4,     #含义：nthread=-1时，使用全部CPU进行并行运算（默认）, nthread=1时，使用1个CPU进行运算。
                          learning_rate=0.08,    #含义：学习率，控制每次迭代更新权重时的步长，默认0.3。调参：值越小，训练越慢。典型值为0.01-0.2。
                          n_estimators=50,       #含义：总共迭代的次数，即决策树的个数
                          max_depth=5,           #含义：树的深度，默认值为6，典型值3-10。调参：值越大，越容易过拟合；值越小，越容易欠拟合
                          gamma=0,               #含义：惩罚项系数，指定节点分裂所需的最小损失函数下降值。
                          subsample=0.9,       #含义：训练每棵树时，使用的数据占全部训练集的比例。默认值为1，典型值为0.5-1。调参：防止overfitting。
                          colsample_bytree=0.5) #训练每棵树时，使用的特征占全部特征的比例。默认值为1，典型值为0.5-1。调参：防止overfitting。


model.fit(X_train.values, y_train.values)
# 预测及 AUC 评测
y_pred_test = model.predict_proba(X_test.values)
xgb_test_auc = roc_auc_score(pd.get_dummies(y_test), y_pred_test)
print('xgboost test auc: %.5f' % xgb_test_auc)

[09:01:08] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xgboost test auc: 0.85677

/Users/mac/opt/miniconda3/envs/rec_sys/lib/python3.6/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [18]:
X_train_leaves

array([[10, 24, 12, ..., 14,  6, 12],
       [19, 26, 25, ..., 12, 18, 16],
       [18, 35, 23, ..., 10, 18, 16],
       ...,
       [18,  9, 24, ..., 21, 13, 16],
       [18, 30, 22, ..., 16,  8, 16],
       [11,  9, 10, ..., 21, 11,  7]], dtype=int32)

In [20]:
X_trans.shape

(371, 2231)

In [22]:
X_trans

<371x2231 sparse matrix of type '<class 'numpy.float64'>'
	with 55650 stored elements in Compressed Sparse Row format>

In [13]:
xgboost = model
# xgboost 编码原有特征
#apply()方法可以获得leaf indices(叶节点索引)
X_train_leaves = xgboost.apply(X_train.values)
#X_train_leaves.shape = (259, 150)
X_test_leaves = xgboost.apply(X_test.values)
#X_test.shape = (112, 4)
#X_test_leaves.shape = (112, 150)
#Return the predicted leaf every tree for each sample.


# 训练样本个数
train_rows = X_train_leaves.shape[0]
# 合并编码后的训练数据和测试数据
X_leaves = np.concatenate((X_train_leaves, X_test_leaves), axis=0)
X_leaves = X_leaves.astype(np.int32)
(rows, cols) = X_leaves.shape
# X_leaves.shape = (371, 150)


# 对所有特征进行ont-hot编码
xgbenc = OneHotEncoder()
X_trans = xgbenc.fit_transform(X_leaves)


#fit_transform()的作用就是先拟合数据，然后转化它将其转化为标准形式
#(train_rows, cols) = X_train_leaves.shape

#这里得到的X_trans即为得到的one-hot的新特征
# 定义LR模型
lr = LogisticRegression()
# lr对xgboost特征编码后的样本模型训练
lr.fit(X_trans[:train_rows, :], y_train)
y_pred_xgblr1 = lr.predict_proba(X_trans[train_rows:, :])
# 预测及AUC评测
#y_pred_xgblr1 = lr.predict_proba(X_trans[train_rows:, :])[:, 1]
# y_pred_xgblr1.shape  = (112,)
xgb_lr_auc1 = roc_auc_score(pd.get_dummies(y_test), y_pred_xgblr1)
print('基于Xgb特征编码后的LR AUC: %.5f' % xgb_lr_auc1)


# 将数据分为训练集和测试集进行，用新的特征输入LR进行预测
# 定义LR模型
lr = LogisticRegression(n_jobs=-1)
# 组合特征
X_train_ext = hstack([X_trans[:train_rows, :], X_train])
X_test_ext = hstack([X_trans[train_rows:, :], X_test])
# lr对组合特征的样本模型训练
lr.fit(X_train_ext, y_train)
# 预测及AUC评测
y_pred_xgblr2 = lr.predict_proba(X_test_ext)
xgb_lr_auc2 = roc_auc_score(pd.get_dummies(y_test), y_pred_xgblr2)
print('基于组合特征的LR AUC: %.5f' % xgb_lr_auc2)

基于Xgb特征编码后的LR AUC: 0.83865
基于组合特征的LR AUC: 0.83865