# Module

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../')

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import os
# from scripts.train_config import raw_data_dir

# Config

In [2]:
criteo_data_dir = '../data/debug/criteo_sample.txt'

# Data Overview

In [3]:
df = pd.read_csv(criteo_data_dir)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   200 non-null    int64
 1   I1      110 non-null    float64
 2   I2      200 non-null    int64
 3   I3      166 non-null    float64
 4   I4      165 non-null    float64
 5   I5      194 non-null    float64
 6   I6      149 non-null    float64
 7   I7      190 non-null    float64
 8   I8      200 non-null    float64
 9   I9      190 non-null    float64
 10  I10     110 non-null    float64
 11  I11     190 non-null    float64
 12  I12     43 non-null     float64
 13  I13     165 non-null    float64
 14  C1      200 non-null    object
 15  C2      200 non-null    object
 16  C3      191 non-null    object
 17  C4      191 non-null    object
 18  C5      200 non-null    object
 19  C6      168 non-null    object
 20  C7      200 non-null    object
 21  C8      200 non-null    object
 22  C9      200 non-null    object
 23  C10     200 non-null    object
 24  C11     200 non-null    object
 25  C12     191 non-null    object
 26  C13     200 non-null    object
 27  C14     200 non-null    object
 28  C15     200 non-null    object
 29  C16     191 non-null    object
 30  C17     200 non-null    object
 31  C18     200 non-null    object
 32  C19     118 non-null    object
 33  C20     118 non-null    object
 34  C21     191 non-null    object
 35  C22     41 non-null     object
 36  C23     200 non-null    object
 37  C24     191 non-null    object
 38  C25     118 non-null    object
 39  C26     118 non-null    object
dtypes: float64(12), int64(2), object(26)
memory usage: 62.6+ KB

In [6]:
df.isna().sum()

label      0
I1        90
I2         0
I3        34
I4        35
I5         6
I6        51
I7        10
I8         0
I9        10
I10       90
I11       10
I12      157
I13       35
C1         0
C2         0
C3         9
C4         9
C5         0
C6        32
C7         0
C8         0
C9         0
C10        0
C11        0
C12        9
C13        0
C14        0
C15        0
C16        9
C17        0
C18        0
C19       82
C20       82
C21        9
C22      159
C23        0
C24        9
C25       82
C26       82
dtype: int64